{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Modificacion de tareas.
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-md-3 col-md-6">
        <form action="" method="post" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
            
            <h1>Corrigiendo tarea ID: {{ tarea.id }}</h1>
            {{ render_input(form.descripcion,'', id= "descripcion" , value = tarea.descripcion , class="form-control", placeholder="Descripcion de la tarea" ) }}
            {{ render_input(form.vencimiento,'',id= "vencimiento" , value = tarea.vencimiento ,class="form-control", placeholder="Ingrese la cantidad de dias para el vencimiento de la tarea" ) }}
            
            <button type="submmit" class="btn btn-primary" >Guardar</button>
    </div>
</div>
{% endblock %}